.main_body{
    .card{
        background-color: transparent;
        img{
            border-radius: 6px;

        }
        .inner-contant{
            padding: 20px 0px 0px 0px ;
            display: flex;
            justify-content: space-between;
            img{
                height: 40px;
                width: 40px;
                border-radius: 30px;
                margin-right: 10px;
            }
        }
        .card-body{
            .card-title{
                font-size: 17px;
                color: #fff;
               
            }
            .card-text{
                margin-bottom: 2px;
                color: #c7c4c4;
                font-size: 14px;

            }
        }

    }
}