extends base.pug

block scripts
  script(src='/Static/script.js')

block style 
    style 
      include ../Static/contact.css
      include ../Static/style.css


block content
    .contact
     .global-header
      h3 Contact Us
      form(action = "/contact", method = 'post',class='my-form')
        input(type='text',class='my-input',name='name',placeholder='Enter your name')
        input(type='phone',class='my-input',name='phone',placeholder='Enter your Phone Number')
        input(type='email',class='my-input',name='email',placeholder='Enter your Email')
        input(type='text',class='my-input',name='country',placeholder='Enter your Country')
        input(type='text',class='my-input',name='address',placeholder='Enter your Address')
        button.btn Sudmit

block foot 
        footer
            .global-header 
             h1 
             | Sponcers

            div#sponcer
                img(src="./Static/img/footer4.png")
                img(src="./Static/img/footer1.png")
                img(src="./Static/img/footer2.png")
                img(src="./Static/img/footer3.png")