.footer-contant{
    padding-top: 2rem;
    width: 100%;
    height: 50vh;
   img{
    margin-bottom: 1rem;
   }
   p{
    font-size: 13px;
    margin-bottom: 1rem;
    line-height: 28px;
   }
   .footer-ul{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 14px;
            a{
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color: #FB9A8C;
                    padding-left: 5px;

                }
            }
        }
    }
   }
   .subsribe{
    h2{
        font-size: 15px;
        font-weight: 400;
        color: #cbe5ff;
        margin-bottom: 2rem;
    }
    input{
        box-shadow: none;
        border-radius: 7px;
        background-color: #031b69;
        margin-right: 5px;
        width: 80%;
        color: #fff;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        padding: 13px 14px;
        border: none;
        outline: none;
     

    }
   }
}