.header-img {
    background-image: url(../img/hero_landing.jpg);
    height: 800px;
    background-position: 50% 0%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 800px;
        background-color: #191919;
        opacity: .5;
    }

    .header-info {
        text-align: center;
        h2 {
            font-size: 25px;
            font-weight: 300;
            color: #fff;

        }

        h3 {
            font-size: 74px;
            font-weight: 900;
            color: #00ffff;
            margin: 0;

        }

        h4 {
            font-size: 66px;
            font-weight: 300;
            color: #fff;

        }

        p {
            color: #fff;
            font-size: 24px;
            line-height: 2em;

        }
        .btn-primary{
            color: $primary;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2px;
            font-weight: 600;
            background-color: #fff;

        }
    }
}