{{>header}}

<section class="contact">
    <div class="container-fluid">
        <div class="contact-conatnt">
            <h2>Contact Us</h2>
            <p>If you would like to get in touch, you can reach us using any of the methods below.</p>
            <h2><i class="fa-solid fa-phone"></i></h2>
            <p>+44 7804 883163</p>
            <h2><i class="fa-regular fa-envelope"></i></h2>
            <p>Info@hibbah.org</p>
        </div>
    </div>
</section>


{{>footer}}