{{>header}}

<div class="donate-section">
    <div class="container-fluid">
        <div class="donate-contant my-4">
            <h2>Donation</h2>
            <p>Every Week we're helping the less fortunate survive for another 24 hours. Your donation goes<br> buying
                hot food and the costs of getting our food and other donated goods to the less <br>fortunate.</p>
            <p>There are no staff and everything is delivered by volunteers.</p>
        </div>
        <div class="fin-donation">
            <h2>FINANCIAL DONATIONS</h2>
            <p>There are many ways you can donate</p>
        </div>
        <div class="donate-method">
            <h2>Online</h2>
            <p>We accept single and regular donations through our online fundraising page. We accept all major credit
                cards, paypal and direct debit.</p>
            <div class="donate-btn"><a href="/bank">Donate Online</a></div>

            <h2>In Person</h2>
            <p>You can make a cash donation at our Saturday Food Distribution Session.</p>

            <h2>By Bank Transfer or Cheque</h2>
            <p>You can make a Bank transfer by sending us a cheque Metro Bank</p>
        </div>
        <div class="donate-service my-4">
            <h2>Goods and Services</h2>
            <p>We also rely on the donation of non-perishable food and drinks as well as clothing and goods<br> that can
                help rough sleepers survive.</p>
            <p>If you would like to donate goods or services please get in touch through any of the options on<br> our
                contact page.</p>
        </div>
    </div>
</div>


{{>footer}}