{{>header}}


<div class="banner">
    <div class="banner-img">
        <img src="img/char-bg.jpeg" alt="" srcset="">
        <div class="banner-contant">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <ul>
                        <li>Food</li>
                        <li>|</li>
                        <li>Clothes </li>
                        <li>|</li>
                        <li>Life Essentials </li>
                        <li>|</li>
                        <li>Support</li>
                    </ul>
                    <p class="card-text">Together we are making a difference</p>
                    <a href="/donate" class="btn-top">Donate Today</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="story" id="story">
    <div class="container-fluid">
        <div class="my-story">
            <h2 class="text-center">Our Story</h2>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5">
                    <p>The story begins with our Muhammad Shahzad Ali Mirza arrival in this country.He is from Pakistan
                        and complete his study in high school jhelum. He worked in the Open Kitchen Manchester (UK)
                        Hibbah charity sector for three year's mainly in Marketing, Fundraising, Events, Training and
                        Charity Operations.He always thought of starting a project for the welfare of out people here in
                        the UK in need, especially those surviving on the streets. He came up with a very organic
                        concept of Charity Open Kitchen Manchester.This concept is self-explanatory, easy to understand,
                        and one of the world's most famou sayings.To start this initiative, he was highly discouraged by
                        those around him who thought these people were not deserving and meaningless.However, he took it
                        as a challenge and decided to learn more. He spent a couple of months researching. Why those
                        less fortunate (homeless) people were on the streets, what got wrong and why they ended up on
                        the streets toward the end. After this incredible Journey, he was fully committed to starting
                        this concept as a charity at the beginning of Covid 2019. Since then, we have never stopped We
                        completed 3 years of excellence and have never missed.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="story-img">
                        <img src="img/story.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="donate" id="donate">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12">
                <div class="donate-contant">
                    <h2>Donate</h2>
                    <p>If you like to support our charity, you can donate to us. We accept both monetary and in-kind
                        donations. Donations can be made online using any major credit card, PayPal, Standing Order,
                        Direct Debit, or bank transfer.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="food-distribution" id="food-ds">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="food-d-contant">
                    <h2>Food Distribution</h2>
                    <p>
                        Since 18 April 2020.We distributed hundreds of thousands of food and life-essential items to
                        those in need.Ove 10,000individuals have volunteered with us,
                        and we have an active pool of 500-plus volunteers. Through our Corporate Volunteering Project,we
                        have many corporat partners who are growing and supporting our projectsA thousand-mile
                        journey began three year's ago, and the seed we planted in 2019 is now flourishing.
                        ASDA ,TESCO acknowledged our efforts.
                        URDU GLOBAL MEDIA NETWORK,(urduglobal.com)
                        News broadcast a video on our charity work on 18 april to 17 july 2021.We were over the moon
                        when our charity was included
                        in the charity is growing,we are getting excellent community support, where people from all
                        walks of life and from different
                        segments of society join our hands, and we are on the highway to change the community's social .
                        We will make society a better place to live.Together we are making a difference and will
                        continue to do so..</p>
                    <a href="/volunteer">Find out how<br> and where to<i class="fa-solid fa-arrow-right"></i><br>
                        volunteer...</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="food-dis-img">
                    <img src="img/food-dis.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




<section class="food-bank">
    <h2>Food Banks (Mobile and Smart Food Banks)</h2>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
                <div class="food-bank-img">
                    <img src="img/food-bank.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="food-bank-contant">
                    <p>Food Banks Millions of people struggle to survive due to the global energy and cost of living
                        crisis. Our neighbours, colleagues, and friends are often included in this staggering number.
                        It's an opportunity for us as a charity to help needy people. By starting sharing and caring, we
                        can change society's social.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gallery" id="gallery">
    <h2 class="text-center my-4">Gallery</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-img">
                    <img src="img/img6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


{{>footer}}