{{>header}}

<section class="our-project">
    <div class="container-fluid">
        <div class="our-contant">
            <h2>Friday Food Distribution @ST JOHN'S ROAD MANCHESTER</h2>
            <p>Friday Food Distribution Project ST JOHN'S ROAD , Manchester, United Kingdom, M13 0WU @HibaCharity.Com
                has been serving Food, clothes and life-essential items to Less fortunate and disadvantaged (homeless)
                people every Saturday from 5 pm to 7 pm since the beginning of 2019 This is our most iconic project,
                where we have never stopped for a single Saturday since the start. We provide them with the best quality
                food in a large quantity so they can survive for a good 24 hours. It includes one hot meal, water,
                juices, sandwiches, crisps, breads, bakery items, yoghurts, chocolates, fruits, clothes, sleeping bags,
                tents, grocery , clothes , shoes, bags and all the essential items needed. We have a dedicated
                hospitality team which greets them to make their evening pleasant. You are welcome to join our Open
                kitchen Family at 5:00 pm and can be part of this fantastic Charitable initiative.
                Find out how and where to volunteer...</p>
            <h2>Food Banks (Mobile and Smart Food Banks)</h2>
            <p>Food Banks Millions of people struggle to survive due to the global energy and cost of living crisis. Our
                neighbours, colleagues, and friends are often included in this staggering number. It's an opportunity
                for us as a charity to help needy people. By starting sharing and caring, we can change
                society's social.</p>
        </div>
    </div>
</section>




{{>footer}}