<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-left">
                        <img src="img/top-logo.jpg" alt="">
                        <p>Charity registration number: 1198459<br>
                            Charity name: HIBBAH</p>
                        <ul>
                            <li><a href="https://www.facebook.com/openkitchenmanchester?mibextid=ZbWKwL"
                                    target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-center">
                        <h2>Contact Us</h2>
                        <p>Info@hibbah.org</p>
                        <p class="mb-4">+44 7804 883163</p>
                        <a href="/contact" class="footer-btn">Contact US</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-center">
                        <h2>Support Us</h2>
                        <p><a href="/volunteer">Volunteer</a></p>
                        <p><a href="/donate">Donate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>















</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ecbcc91892.js" crossorigin="anonymous"></script>

</html>