.modal-fade{
    .modal-dialog{
        .modal-content{
            .modal-header{

            }
            .modal-body{
                ul{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    li{
                        a{
                            img{

                            }
                        }
                        h2{

                        }
                        p{

                        }
                        .btn-primary{

                        }
                    }
                }
            }
        }
    }
}














