{{>header}}

<div class="top-banner">
    <div class="container">
        <div class="banner-contant">
            <div class="row">
                <div class="col-sm-6">
                    <div class="left-contant">
                        <h2>Error</h2>
                        <ul>
                            <li><a href="">Home<i class="fa-solid fa-angles-right"></i></a></li>
                            <li><a href="">Pages<i class="fa-solid fa-angles-right"></i></a></li>
                            <li><a href="">Error</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <div class="right-contant">
                        <button class="banner-btn"><i class="fa-solid fa-check"></i>GET IN TOUCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="error-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="error-bg">
                <img src="/img/error-bg.jpg">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="error-right-contant">
                    <h2>404</h2>
                    <h3>OPPS, PAGE NOT FOUND</h3>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse wuat velillum dolore eu feugiat nulla facilisis vero eros accumsan.</p>
                    <div class="search-box">
                    <input type="search" name="search" class="error-src w-100" placeholder="SEARCH">
                    </div>
                    <a href="/">BACK TO HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>



{{>footer}}