{{>header}}
    <div class="header-bottom">
      <div id="carouselExampleInterval" id="carouselExampleFade" class="carousel slide carousel-fade"
        data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="img/slide1-1.jpg" class="d-block" alt="...">
            <div class="carousel-text">
              <h1>
                ARCHITECTURAL DESIGN &<br>CONSTRUCTION SERVICE
              </h1>
              <p>
                We are professional company over 30 year of experience.<br> We will brighten up every corner of your
                house.
              </p>
              <button class="header-btn">Our Service</button>
              <button class="header-btn">Get a Quote</button>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src= "img/slide1-2.jpg" class="d-block" alt="...">
            <div class="carousel-text center">
              <h1>
                BUILD YOUR DREAM NOW
              </h1>
              <p>
                We are professional company over 30 year of experience.<br> We will brighten up every corner of your
                house.
              </p>
              <button class="header-btn">About</button>
              <button class="header-btn">Contact Us</button>
            </div>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </header>




  <section class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="top-Contant">
            <img src="img/30.png" alt="">
            <h2>PLANNING</h2>
            <p>Lorem Ipsum is simply dummy text demo panel printing industry. We denounce with a has draw men who are so
              beguiled</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="top-Contant bg-primar pb-5">
            <img src="img/31.png" alt="">
            <h2>MODELING</h2>
            <p>Lorem Ipsum is simply dummy text demo panel printing industry. We denounce with a has draw men who are so
              beguiled</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="top-Contant">
            <img src="img/32.png" alt="">
            <h2>MANAGEMENT</h2>
            <p>Lorem Ipsum is simply dummy text demo panel printing industry. We denounce with a has draw men who are so
              beguiled</p>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="middle-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="who-contant">
            <h2>WHO <span>WE ARE</span></h2>
            <p>Lorem ipsum dolor sit amet, enim putant te pro, pro et iuvaret omnesque invenire. Eum case vocibus ex, at
              sed nobis detr aerendum to dicant nemore ut ius. Quas assum at qui, aliquam volumus suavitate no mei, duo
              vidit harum quodsi ad. Labores civibus sit ea. Neusu stet assum expetendis, aeque mediocritatem id nec.
              Sed et quod omnis detracto, eu vix animal deterruisset. Vis aliquid rec somorum.</p>
            <button class="who-btn">Read More</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="who-cursoler">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/2.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="bottom-section">
    <div class="container">
      <div class="top-bottom">
        <h2>CHOOSE YOUR SERVICE</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the
          industry's <br>standard dummy text ever since they 1500s.</p>
      </div>
      <div class="row gx-5 gy-4">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 pe-0">
              <div class="service-img">
                <img src="img/20.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-6 bg-primar d-flex align-items-center">
              <div class="service-contant">
                <h2>
                  COUNSULTING<br>
                  SERVICES</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                <button class="service-btn">Learn More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 pe-0">
              <div class="service-img">
                <img src="img/21 (1).jpg" alt="">
              </div>
            </div>
            <div class="col-sm-6 bg-primar d-flex align-items-center">
              <div class="service-contant">
                <h2>
                  TRANSPORT<br>
                  SYSTEM PLANNING</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                <button class="service-btn">Learn More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 pe-0">
              <div class="service-img">
                <img src="img/22.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-6 bg-primar d-flex align-items-center">
              <div class="service-contant">
                <h2>
                  ARCHITECTURE &<br>
                  BUILDING</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                <button class="service-btn">Learn More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 pe-0">
              <div class="service-img">
                <img src="img/23.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-6 bg-primar d-flex align-items-center">
              <div class="service-contant">
                <h2>
                  ENERGY POWER<br>
                  PLANNING</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                <button class="service-btn">Learn More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="project mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
      <div class="top-contant">
        <h2>FEATURED PROJECT</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.</p>
      </div>
    </div>
  </div>
    </div>
    <div class="project-gallery">
      <div class="project-nav_bar">
        <ul>
          <li><a id="btn-1">Buisness</a></li>
          <li><a id="btn-2">Property</a></li>
          <li><a id="btn-3">Building</a></li>
          <li><a id="btn-4">Housing</a></li>
        </ul>
      </div>
      <div class="projects-content">
        <div class="container-fluid">
          <div class="row g-0">
            <div class="col-sm-3" id="img-1">
              <div class="project-image">
              <img src="img/project-1.jpg" alt="">
              <div class="contant-box">
                <h2>TAMPLE TOWER</h2>
                <span>CA 1206, East South City</span>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
            <div class="col-sm-3" id="img-2">
              <div class="project-image">
              <img src="img/project-2.jpg" alt="">
              <div class="contant-box">
                <h2>TAMPLE TOWER</h2>
                <span>CA 1206, East South City</span>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
            <div class="col-sm-3"id="img-3">
              <div class="project-image">
              <img src="img/project-3.jpg" alt="">
              <div class="contant-box">
                <h2>TAMPLE TOWER</h2>
                <span>CA 1206, East South City</span>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
            <div class="col-sm-3" id="img-4">
              <div class="project-image">
              <img src="img/project-4.jpg" alt="">
              <div class="contant-box">
                <h2>TAMPLE TOWER</h2>
                <span>CA 1206, East South City</span>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
      <div class="construstion">
        <div class="container">
          <div class="con-contant">
        <div class="c-left">
          <h2>Construstion</h2>
          <p>Lorem Ipsum is simply dummy text demo panel printing <span>INDUSTRY</span> we denounce with a has draw company</p>
        </div>
          <div class="c-right">
            <button class="c-btn">View All</button>
          </div>
        </div>
      </div>
   
    </div>
    </div>
  </section>

  <section class="choose">
    <div class="top-contant">
      <h2>WHY CHOOSE US?</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="chosse-contant">
            <ul>
              <div class="row">
               <div class="col-sm-6">
              <li>
                  <img src="img/inner1.png" alt="">
                  <h2>DESIGN & MANAGEMENT</h2>
                  <p>Eum fuisset volumus no an pri libris nonumes. Labores sensibus deseruisse ei sed. Ne sea hinc tantasius ut vidit lobortis dissentiun.</p>
                </div>
               <div class="col-sm-6">
              <li>
                  <img src="img/inner2.png" alt="">
                  <h2>OVER 70 YEARS OF EXPERIENCE</h2>
                  <p>Eum fuisset volumus no an pri libris nonumes. Labores sensibus deseruisse ei sed. Ne sea hinc tantasius ut vidit lobortis dissentiun.</p>
                </div>
               <div class="col-sm-6">
              <li>
                  <img src="img/inner3.png" alt="">
                  <h2>CONSULTING SERVICES</h2>
                  <p>Eum fuisset volumus no an pri libris nonumes. Labores sensibus deseruisse ei sed. Ne sea hinc tantasius ut vidit lobortis dissentiun.</p>
                </div>
               <div class="col-sm-6">
              <li>
                  <img src="img/inner4.png" alt="">
                  <h2>OVER 500+ PROJECT COMPLATED</h2>
                  <p>Eum fuisset volumus no an pri libris nonumes. Labores sensibus deseruisse ei sed. Ne sea hinc tantasius ut vidit lobortis dissentiun.</p>
                </div>
              </div>
            </li>
            </ul>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="right-choose">
          <img src="img/inner-men.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="on-going pt-5">
    <div class="top-contant">
      <h2>ON GOING PROJECT</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="project-carousel pt-5">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                  <img src="img/ongoing-1.png" class="d-block w-100" alt="...">
                  <div class="ongoing-contant">
                    <h2>Tample Tower</h2>
                    <span>CA 1206,East South City,Canada</span>
                    <a href="#">Read More</a>
                  </div>
                  </div>
                <div class="carousel-item" data-bs-interval="1200">
                  <img src="img/ongoing-2.png" class="d-block w-100" alt="...">
                  <div class="ongoing-contant">
                    <h2>Tample Tower</h2>
                    <span>CA 1206,East South City,Canada</span>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="1400">
                  <img src="img/ongoing-3.png" class="d-block w-100" alt="...">
                  <div class="ongoing-contant">
                    <h2>Tample Tower</h2>
                    <span>CA 1206,East South City,Canada</span>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="1600">
                  <img src="img/ongoing-4.png" class="d-block w-100" alt="...">
                  <div class="ongoing-contant">
                    <h2>Tample Tower</h2>
                    <span>CA 1206,East South City,Canada</span>
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            
            </div>

            <div class="on-gallery py-4">
              <div class="row">
                <div class="col-sm-3">
                  <img src="img/ongoing-1.png" alt="" width="165px" height="100px">
              </div>
                <div class="col-sm-3">
                  <img src="img/ongoing-2.png" alt="" width="165px" height="100px">
              </div>
                <div class="col-sm-3">
                  <img src="img/ongoing-3.png" alt="" width="165px" height="100px">
              </div>
                <div class="col-sm-3">
                  <img src="img/ongoing-4.png" alt="" width="165px" height="100px">
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pt-5">
          <div class="ongoing-right">
            <h3>PROJECT DETAILS</h3>
            <ul>
              <li>
                <h2>PROJECT MANE</h2>
                <p>D.R BUILDERS</p>
              </li>
              <li>
                <h2>RELEASE DATE</h2>
                <p>26 MAY 2015</p>
              </li>
              <li>
                <h2>VALUE</h2>
                <p>$10,233.00</p>
              </li>
              <li>
                <h2>PROJECT STATUS</h2>
                <p>PONGOING</p>
              </li>
              <li>
                <h2>CLIENT</h2>
                <p>THEMESOLVE</p>
              </li>
              <li>
                <h2>PROJECT URL</h2>
                <a href="">VIEW PROJECTS</a>
              </li>
            </ul>
            <div class="onlogo">
             <a href=""><img src="img/ongoing-logo.png" alt=""></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="news py-5">
  <div class="top-contant">
    <h2>RECENT NEWS</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.</p>
  </div>
  <div class="news-contant">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-img">
            <img src="img/news1.jpg" class="card-img-top" alt="...">
            <i class="fa-solid fa-image"></i>
          </div>
            <div class="card-body">
              <h5 class="card-title">CONSTRUCTION WEBSITE BUILDERS</h5>
              <div class="aurthor d-flex">
              <p>BY ADMIN</p> 
              <span>APRIL 5TH, 2015</span>
            </div>
              <p class="card-text">Lorem ipsum dolor sit amet, enim putant temp pro, pro et iuvaret omnesque invenire. Eum case vocibus ex at sed nobis. suavitate no thaiduo viditirs tob abores.</p>
              <a href="#">Read Mores</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-img">
            <img src="img/news2.jpg" class="card-img-top" alt="...">
            <i class="fa-solid fa-image"></i>
          </div>
            <div class="card-body">
              <h5 class="card-title">CONSTRUCTION WEBSITE BUILDERS</h5>
              <div class="aurthor d-flex">
              <p>BY ADMIN</p> 
              <span>APRIL 5TH, 2015</span>
            </div>
              <p class="card-text">Lorem ipsum dolor sit amet, enim putant temp pro, pro et iuvaret omnesque invenire. Eum case vocibus ex at sed nobis. suavitate no thaiduo viditirs tob abores.</p>
              <a href="#">Read Mores</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-img">
            <img src="img/news3.jpg" class="card-img-top" alt="...">
            <i class="fa-solid fa-image"></i>
          </div>
            <div class="card-body">
              <h5 class="card-title">CONSTRUCTION WEBSITE BUILDERS</h5>
              <div class="aurthor d-flex">
              <p>BY ADMIN</p> 
              <span>APRIL 5TH, 2015</span>
            </div>
              <p class="card-text">Lorem ipsum dolor sit amet, enim putant temp pro, pro et iuvaret omnesque invenire. Eum case vocibus ex at sed nobis. suavitate no thaiduo viditirs tob abores.</p>
              <a href="#">Read Mores</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="buisness py-5">
  <div class="top-contant">
    <h2>BUSSINESS PARTNER</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and types etting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s.</p>
  </div>
  <div class="p-list">
    <div class="container">
    <ul>
      <li><a href=""><img src="img/partner1.png" alt=""></a></li>
      <li><a href=""><img src="img/partner2.png" alt=""></a></li>
      <li><a href=""><img src="img/pertner3.png" alt=""></a></li>
      <li><a href=""><img src="img/pertner4.png" alt=""></a></li>
    </ul>
  </div>
</div>
</section>


{{>footer}}