


h1,h2,h3,h4,h5,h6{
    font-family: 'Varela Round', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

p{
    font-family: 'Nunito', sans-serif;
}



.btn-primary{
    color: #fff;
    background-color: #50817e;
    border-color: #4b7976;
    letter-spacing: 0.15rem;
    padding: 14px 19px;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 3px !important;
    font-weight: 400;
}